a {
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

.content {
	padding: 7rem 0;
}

h2 {
	font-size: 20px;
}

@media ( max-width : 991.98px) {
	.half .bg {
		height: 200px;
	}
}

.half .contents {
	background: #f6f7fc;
}

.half .contents {
	width: 80%;
}

.half .bg {
	width: 20%;
}

@media ( max-width : 991.98px) {
	.half .contents, .half .bg {
		width: 100%;
	}
}

.half .contents .form-control, .half .bg .form-control {
	border: none;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	height: 54px;
	background: #fff;
}

.half .contents .form-control:active, .half .contents .form-control:focus,
	.half .bg .form-control:active, .half .bg .form-control:focus {
	outline: none;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.half .bg {
	background-size: cover;
	background-position: center;
}

.half a {
	color: #888;
	text-decoration: underline;
}

.half .btn {
	height: 45px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 30px;
}

.half .forgot-pass {
	position: relative;
	top: 2px;
	font-size: 14px;
}

.control {
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 15px;
	cursor: pointer;
	font-size: 14px;
}

.control .caption {
	position: relative;
	top: .2rem;
	color: #888;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	height: 20px;
	width: 20px;
	background: #e6e6e6;
	border-radius: 4px;
}

.control--radio .control__indicator {
	border-radius: 50%;
}

.control:hover input ~ .control__indicator, .control input:focus ~
	.control__indicator {
	background: #ccc;
}

.control input:checked ~ .control__indicator {
	background: #fb771a;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
	.control input:checked:focus ~ .control__indicator {
	background: #fb8633;
}

.control input:disabled ~ .control__indicator {
	background: #e6e6e6;
	opacity: 0.9;
	pointer-events: none;
}

.control__indicator:after {
	font-family: 'icomoon';
	content: '\e5ca';
	position: absolute;
	display: none;
	font-size: 16px;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

.control input:checked ~ .control__indicator:after {
	display: block;
	color: #fff;
}

.control--checkbox .control__indicator:after {
	top: 50%;
	left: 50%;
	margin-top: -1px;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.control--checkbox input:disabled ~ .control__indicator:after {
	border-color: #7b7b7b;
}

.control--checkbox input:disabled:checked ~ .control__indicator {
	background-color: #7e0cf5;
	opacity: .2;
}

.light {
	-primary: hsl(250, 100%, 44%);
	-other: hsl(0, 0%, 14%);
	background: hsl(0, 0%, 98%);
}

.tab {
	overflow: hidden;
}

/* Style the tab content */
.tabcontent {
	display: none;
}

.btn-options {
	background-color: #fff;
	margin-right: 20px;
	border-radius: 30px;
	border: none;
	padding: 5px 5px;
	color: #fff;
}

.btn-options:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	box-shadow: 2px 2px 4px #282626;
}

.btn-options:focus {
	outline: thin dotted;
	outline: 0px auto -webkit-focus-ring-color;
	outline-offset: 0px;
}

.group-radio {
	display: block;
	padding: 5px;
	position: relative;
}

.group-radio input[type='radio'] {
	display: none;
}

.group-radio-sim input[type='radio']:checked+label::before {
	color: #8e44ad;
	content: url("../img/sim-20.png");
	font-size: 30px;
	font-weight: bold;
	line-height: 10px;
}

.group-radio-nao input[type='radio']:checked+label::before {
	color: #8e44ad;
	content: url("../img/nao-20.png");
	font-size: 30px;
	font-weight: bold;
	line-height: 10px;
}

.group-radio input[type='radio']:checked ~ .group-radio-message {
	opacity: 1;
}

.group-radio label, .group-radio label::before {
	cursor: pointer;
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
}

.group-radio label::before {
	border-radius: 3px;
	border: 1px solid #D0D5DB;
	content: '';
	height: 20px;
	width: 20px;
}

.linha {
	display: flex;
}

.home-content {
	cursor: pointer;
}

.topbar {
	color: #fff;
	background-color: #7386D5;
}

.topbar h3 {
	margin: 0px;
	margin-left: 50px;
}

/* O container geral define a perspectiva */
.flip-container {
	perspective: 1000;
}

/* vira os containers frente e verso quando o mouse passa em cima */
.flip-container-btnvoltar:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container-btnvoltar, .front, .back {
	width: 48px;
	height: 48px;
}

.flip-container, .front, .back {
	width: 100%;
	height: auto;
}

/* define a velocidade da transição */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* esconde o verso durante a animação */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* frente posicionada sobre o verso */
.front {
	z-index: 2;
}

/* verso inicialmente escondido */
.back {
	transform: rotateY(180deg);
}

.flip-container:after .flipper, 
.flip-container.hover .flipper, 
.flip-container.flip .flipper {  	
  transform: rotateY(180deg);  
}

.at-item {
  animation-name: rotate-vert-center;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 2;
  animation-direction: normal;
  animation-fill-mode: none;
}
@keyframes rotate-vert-center {
  0%{
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100%{
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }}
  
.navbar>.container, .navbar>.container-fluid {
  justify-content: flex-start;
}